 <div class="conteiner-flex">
 {{> nav-bar}}
 </div>
 
<div class="container">
<div class='row mt-5'>
  <div class='col text-center'>
    <h1>List of all translates of word: {{word.dataValues.word}}</h1>
  </div>
</div>

<div class='row mt-3 d-flex justify-content-center'>
  <div class='col-6'>
    <table class='table table-info table-hover'>
      <thead class='table-dark'>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>Word</th>
          <th scope='col'>Translate</th>
          <th scope='col'></th>
        </tr>
      </thead >
      <tbody class='table-group-divider'>
        {{#each translatesbyword}}
          <tr>
            <td>{{@index}}</td>
            <td>{{../word.dataValues.word}}</td>
            <td class=''>{{this.dataValues.translate}}</td>
            <td><a
                href='/editword/{{../word.dataValues.id}}/deletetranslate/{{this.dataValues.id}}'
                class='link-danger'
              ><svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='20'
                  height='20'
                  fill='currentColor'
                  class='bi bi-trash3'
                  viewBox='0 0 16 16'
                >
                  <path
                    d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5'
                  />
                </svg></a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="row row mt-5 d-flex justify-content-center">
  <div class="col-6">
    <form method='POST' action='/addwordtranslate-process/{{word.dataValues.id}}'>
      <div class='row mb-5'>
        <label
          for='inputTranslate'
          class='col-sm-3 col-form-label'
        >Translate</label>
        <div class='col-sm-9 ipa-str'>
          <select
            class='form-select'
            aria-label='Select part'
            name='translateId'
          >
            {{#each translatesbyuser}}
            {{#if this.dataValues.translate}}
              <option
                value='{{this.dataValues.id}}'
              >{{this.dataValues.translate}}</option>
            {{/if}}
            {{/each}}
          </select>
        </div>
      </div>
      <div class='d-flex justify-content-center'>
        <button type='submit' class='btn btn-info'>Add new translate for word</button>
      </div>
    </form>
  </div>
</div>

</div>

